.container{
  z-index: 99;
  background: transparent;
  width: 100%;
  height: 100%;
  word-wrap: normal;
  letter-spacing: 2px;
  writing-mode:horizontal-tb;
}
.word {
  color:aquamarine;
  width: 20px;
}